name: YeSQL.Net

on: 
  push:
    branches: 
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        dotnet-version: ['8.x']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
    - name: Test 
      run: |
       dotnet test ./tests/YeSql.Net.Tests.csproj
       dotnet test ./samples/Example.AspNetCore.Tests/Example.AspNetCore.Tests.csproj
       dotnet build ./samples/PluginApp/Plugins/EmployeePlugin/PluginApp.EmployeePlugin.csproj
       dotnet build ./samples/PluginApp/Plugins/UserPlugin/PluginApp.UserPlugin.csproj
       dotnet build ./samples/PluginApp/Plugins/HelloPlugin/PluginApp.HelloPlugin.csproj
       dotnet test ./samples/PluginApp/Test/PluginApp.Host.Tests.csproj